@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");
body {
  background-color: #fdfdfd;
}
h1,
h2,
h3,
h4,
nav a {
  font-family: "Press Start 2P";
}
nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav a {
  min-width: 35%;
  padding: 16px 0;
  border-radius: 13px;
  text-decoration: none;
  color: #fff;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 23px auto;
}
nav a img {
  width: 10%;
  margin-right: 13px;
}
a.github {
  background-color: #24292e;
}
.games {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.games .game {
  background-color: aqua;
  filter: brightness(90%);
  width: 30%;
  text-align: center;
  font-family: Ubuntu;
  margin: 23px auto;
  padding: 23px 0;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.2s;
}
.games .game:hover {
  filter: brightness(60%);
}
.games .game a {
  color: #000;
  text-decoration: none;
}
