html {
    /* background-image: url('../images/parede.jpg'); */
    height: 100%;
    cursor: url('../images/m_chinela.png'), auto;
}

header {
    display: flex;
}

header > div {
    flex-grow: 1;
}

.cursor {
    width: 80px;
    position: relative;
}

.cigarra {
    width: 80px;
    top: 300px;
    left: 400px;
    position: relative;
}

.points-panel {
    font-weight: bold;
}

.life-poke {
    font-weight: bold;
    width: 20%;
}

.life-bar {
    height: 30px;
    background-color: #0F0;
    margin-right: 50px;
}

.message {
    font-weight: bold;
    background-color: #F005;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    display: none;
}